<div class="loginmain">
    <div class="login">
        <form class="example-form">
            <h2>Login to your account</h2>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="username">
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="password">
            </mat-form-field>

            <div class="button">
                <button mat-raised-button color="accent">Accent</button>
            </div>
        </form>
    </div>
</div>