
.loginmain{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 30%;
    background-color: #ffffff;
    border-radius: 15px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 50px;
  }
  
  .fitness{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 900;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .example-full-width {
    width: 100%;
  }

  .button{
    float: right;
  }

  .notreg{
    margin-top: 18px;
    font-weight: 300;
  }