<div class="loginmain">
    <div class="login">
        <form class="example-form">
            <div class="logo">
              <h1>FITNESS</h1>
            </div>
            <h2>Login to your account</h2>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username">
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password">
            </mat-form-field>
            <div>
              <mat-checkbox class="checkbox">Remember me</mat-checkbox>
            </div>

            <div class="button">
                <button mat-raised-button color="accent">SIGN IN</button>
            </div>
            <div>
              <p class="notreg">Not registered? <a routerLink="/register">Create an account</a></p>
            </div>
        </form>
    </div>
</div>