<div class="card-main">

    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>


    <div class="card">

        <div class="cardinside">
            <div class="cardinsides">

                <img ngSrc="./assets/homeimages/sample-4.jpg" width=70 height=70>
            </div>
        </div>

        <div class="card2sec">
            

            <p class="card2secinside">Weight Loss</p>
            <p class="card2secinside2">nopain with gain weight loss avaliable...</p>
            
            <mat-radio-group>
                <mat-radio-button value="auto">Male</mat-radio-button>
                <mat-radio-button value="always">Female</mat-radio-button>
              </mat-radio-group>
            <p class="card2secinside3"><button class="button" mat-mini-fab><mat-icon>arrow_forward_ios</mat-icon></button></p>


        </div>
    </div>

</div>