<div class="card-main">

    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>
    <div class="card"><img alt="" ngSrc="./assets/homeimages/Diet-PNG-File.png" width=100 height=100></div>

</div>

