.card-main {
    width: 100%;
    /* background-color: aquamarine; */
    min-height: 250px;
    display: flex;
    /* align-items: center; */
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    /* white-space: nowrap; */
    /* -ms-overflow-style: none;
    scrollbar-width: none; */


}

.card-main::-webkit-scrollbar {
    height: 5px;

}

.card-main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, transparent, transparent, blue, transparent, transparent);
    border-radius: 5px;
    /* margin-bottom: 5px; */
    /* border-left: 15px solid aquamarine;
    border-right: 15px solid aquamarine; */

}


.card-main::-webkit-scrollbar-track {
    border-radius: 10px;

}


.card {
    display: flex;
    /* justify-content: center; */
    background-color: #ffffff;
    border: none;
    height: 250px;
    min-width: 45%;
    margin: 13px;
    /* animation: cards_blink 4s infinite; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

<<<<<<< HEAD
.cardimg{
    height: 92px;
    width: 96%;
    background-color: blueviolet;
    border-radius: 10px;
    margin: 4px;
}

.heading{
    width: 100%;
    height: 20px;
    font-weight: 700;
    margin: 4px;
}

.para{
    width: 100%;
    height: 40px;
    margin: 4px;
}

.para p{
   word-wrap: break-word;
   font-weight: 200;
   font-size: 13px;
}

.info{
    width: 100%;
    height: 30px;
    margin: 0 4px;
}

.info div{
    width: 26px;
    height: 26px;
    float: left;
    background-color: whitesmoke;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p{
    font-size: 13px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 30px !important;
}

.lastdiv{
    width: 96%;
    height: 30px;
    background-color: whitesmoke;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lastdiv p{
    margin-top: 12px;
    margin-left: 4px;
}

.lastdiv button{
    background-color: #fc895c;
    border: none;
    margin-right: 4px;
    border-radius: 4px;
}

/* @keyframes cards_blink {
    0%{}
    50%{
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    100%{ }
    
} */
=======
@keyframes cards_blink {
    0% {}

    50% {
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }

    100% {}

}
>>>>>>> main

.card2 {

    background-color: #ffffff;
    border: none;
    height: 250px;
    min-width: 45%;
    margin: 13px;
    border-radius: 7px;
    transition: 0.4s;
    animation: cards_blink 4s infinite;
}

.card2:hover{
    transform: scale(1.1);
}

.cardinside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 38, 73);
    height: 90px;
    border-radius: 7px;
}

.cardinside2{
    border-radius: 50%;
    border: 1px solid blue;
    overflow: hidden;

}

/* .card2sec{
    
} */


.card2secinside{
    display: flex;
    justify-content: center;
    margin: 5px;
   color: #44D9B6;
   font-weight: 600;
   
}

.card2secinside2{
 margin: 0 15px;
 /* overflow-wrap: normal; */
 /* word-wrap: break-word; */
}

.card2secinside3{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.button{
  background-color: #fff;
  color: rgb(187, 38, 73);
}