.card-main {
    width: 100%;
    /* background-color: aquamarine; */
    min-height: 250px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */


}

.card-main::-webkit-scrollbar {
    height: 5px;

}

.card-main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, transparent,transparent, blue ,transparent, transparent);
    border-radius: 5px;
    /* margin-bottom: 5px; */
    /* border-left: 15px solid aquamarine;
    border-right: 15px solid aquamarine; */

}


.card-main::-webkit-scrollbar-track {
    border-radius: 10px;

}


.card {
    background-color: #ffffff;
    border: 1px solid #6dd291;
    height: 220px;
    min-width: 45%;
    margin: 13px;
    animation: cards_blink 4s infinite;
}

@keyframes cards_blink {
    0%{}
    50%{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    100%{ }
    
}
