.card-main {
    width: 100%;
    background-color: rgb(241, 86, 8);
    min-height: 250px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */


}

.card-main::-webkit-scrollbar {
    height: 15px;

}

.card-main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, transparent,transparent, rgb(41, 88, 209), rgb(25, 152, 194) ,transparent, transparent);
    border-radius: 5px;
    margin-bottom: 5px;
    border-left: 15px solid rgb(241, 86, 8);
    border-right: 15px solid rgb(241, 86, 8);

}


.card-main::-webkit-scrollbar-track {
    border-radius: 10px;

}


.card {
    background-color: #fff;
    height: 220px;
    min-width: 45%;
    margin: 13px;
    box-shadow: 2px 2px 8px rgb(74, 91, 101);
}