.container {
  width: 100%;
  display: flex;
}

.start-end {
  width: 10%;
}

.center {
  width: 80%;
  padding: 0.8rem;
}

.container .list {
  background-color: #fff;
  border-radius: 0.4rem;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.8rem;

}

.list li {
  margin: 0 32px;
  font-size: 1rem;
  font-weight: 900;
}

@media only screen and (max-width: 800px) {

  .container .list {
    padding: 0.5rem;
  }

  .list li {
    margin: 0 20px;
    font-size: 0.8rem;
    font-weight: 900;
  }

}

@media only screen and (max-width: 700px) {
 .container .list {
 padding: 0.2rem;
}
.list li {
    margin: 0 17px;
    font-size: 0.6rem;
    font-weight: 900;
  }
}

@media only screen and (max-width: 600px) {
.container .list {
 padding: 0.2rem;
}
.list li {
    margin: 0 15px;
    font-size: 0.5rem;
    font-weight: 900;
  }

}