.container {
  width: 100%;
  display: flex;
}

.start-end {
  width: 10%;
}

.center {
  width: 80%;
  padding: 0.8rem;
}

.container .list {
  background-color: #fff;
  border-radius: 0.4rem;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.8rem;

}

.list li {
  margin: 0 32px;
  font-size: 1rem;
  font-weight: 900;
}


