.container {
  width: 100%;
  display: flex;
}

.start-end {
  width: 10%;
}

.center {
  width: 80%;
  padding: 0.8rem;
}

.container .list {
  background-color: #fff;
  border-radius: 0.4rem;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2px;


}

.list li {
  margin: 0 32px;
  font-size: 1rem;
  font-weight: 900;
  transition: 0.5s;
  padding: 10px;
  border-radius: 0.7rem;
}

.list li:hover{
  background-color: #131627;
  color: #fff;
  cursor: pointer;
  
}

@media only screen and (max-width: 800px) {

  .container .list {
    padding: 1px;
  }

  .list li {
    margin: 0 10px;
    font-size: 0.8rem;
    font-weight: 900;
  }

}

@media only screen and (max-width: 768px) {
  .container .list {
  padding: 1px;
 }
 .list li {
     margin: 0 9px;
     font-size: 0.6rem;
     font-weight: 900;
   }
 }

@media only screen and (max-width: 700px) {
 .container .list {
 padding: 1px;
}
.list li {
    margin: 0 9px;
    font-size: 0.6rem;
    font-weight: 900;
  }
}

@media only screen and (max-width: 600px) {
.container .list {
 padding: 1px;
}
.list li {
    margin: 0 8px;
    font-size: 0.5rem;
    font-weight: 900;
  }

}

@media only screen and (max-width: 450px) {
  .container .list {
   padding: 1px;
  }
  .list li {
      margin: 0 5px;
      font-size: 0.4rem;
      font-weight: 900;
    }
  
  }

  @media only screen and (max-width: 400px) {
    .container .list {
     padding: 1px;
    }
    .list li {
        margin: 0 4px;
        font-size: 0.4rem;
        font-weight: 900;
      }
    
    }