<div class="profilemain">
    <div class="width"></div>
    <div class="pagename">
        <h1>FITNESS ARENA</h1>
    </div>
    <div class="username" [matMenuTriggerFor]="menu">
        <div>
            <p class="profile">GUEST</p>
            <mat-menu #menu="matMenu">
                <h1 mat-menu-item>welcome</h1>
                <button mat-raised-button color="primary"  [routerLink]="['/auth']">LOG IN</button>
                
            </mat-menu>
        </div>

        <div>
            <img ngSrc="./assets/homeimages/User-Profile-img.png" width=40 height=40 alt="profile-image">
        </div>

    </div>

</div>