.profilemain {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.width{
    width: 10%;
}
.pagename{
   color: #fff;
    margin-left: 100px;
    padding-top: 1rem;
}
.username{
    display: flex;
    align-items: baseline;
    cursor: pointer;
}
.profile {
    color: #fff;
}

.profilemain div{
    margin: 2px 10px;
}

h1{
    font-family: poppins;
}