.maindiv{
    width: 100%;
    min-height: 250px;
}

.notification{
    height: 205px;
    overflow-x: hidden;
    white-space: nowrap;
}

.notification::-webkit-scrollbar {
    width: 5px;
}

.notification::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, transparent, white ,transparent);
}


.notification::-webkit-scrollbar-track {
    border-radius: 10px;
}



.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.icons i{
    color: white;
    font-size: 30px;
    z-index: 1;
}

.message{
    background-color: aquamarine;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 10px;
}

@media only screen and (max-width: 800px) {
 
}