.maindiv{
    width: 100%;
    min-height: 250px;
}

.notification{
    height: 205px;
    overflow-x: hidden;
    white-space: nowrap;
}

.notification::-webkit-scrollbar {
    width: 5px;
}

.notification::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, transparent,transparent, blue ,transparent,transparent);
}


.notification::-webkit-scrollbar-track {
    border-radius: 10px;
}



.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.icons i{
    color: black;
    font-size: 30px;
    z-index: 1;
}

.message{
    background-color: #ffffff;
    border: 1px solid #6dd291;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.message p{
    color: blackish;
    font-size: 14px;
    font-family: poppins;
    margin: 0;
    padding-top: 40px 0;
}

@media only screen and (max-width: 800px) {
 
}