<div class="maindiv">
        <div class="notification">
            <div class="message">
                <p>Rambo is the new champion</p>
            </div>
            <div class="message">
                <p>Your subscription is now ending</p>
            </div>
            <div class="message">
                <p>Target achieved</p>
            </div>
            <div class="message">
                <p>Your subscription is now ending</p>
            </div>
            <div class="message">
                <p>Target achieved</p>
            </div>
            <div class="message">
                <p>Your subscription is now ending</p>
            </div>
            <div class="message">
                <p>Target achieved</p>
            </div>
        </div>

        <div class="icons">
            <p><i class="bi bi-whatsapp"></i></p> <p><i class="bi bi-facebook"></i></p> <p><i class="bi bi-instagram"></i></p>
        </div>
</div>


