.tilesmain{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 4px;
    justify-content: center;
    height: 200px;
}

.tiles{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    margin: 0 4px;
}

.tilegrow{
    width: 208px;
    height: 100px;
}

.margin{
    margin-top: 8px;
}

h2{
    color: #72fa93;
    margin-top: 10px;
    font-size: 26px;
    font-family: poppins;
}

@media only screen and (max-width: 800px) {
    .margin{
        margin-top: 0px;
    }
    
}