<div class="tilesmain">
    <div class="section1">
        <div class="tiles"><i class="bi bi-bar-chart-fill"></i></div>
        <div class="tiles"><i class="bi bi-bag-plus"></i></div>
        <div class="tiles"><i class="bi bi-alarm"></i></div>
    </div>
    <div class="margin section2">
        <div class="tiles"><i class="bi bi-award"></i></div>
        <div class="tiles tilegrow"><i class="bi bi-battery-charging"></i></div>
    </div>

    <div>
        <h2 [ngClass]="wish == 'Gym is Open' ? 'smoothopen' : wish == 'Gym is Close' ? 'smoothclose' : '' ">{{wish}}</h2>
    </div>
</div>


