<div id="backgroundimage">
    <app-user-profile class="user"></app-user-profile>
    <div class="maintext">
        <h1 class="color animinate">{{title}}</h1>
        <h1 class="color nogain animinate" >{{title2}}</h1>

    </div>
   
    <div class="search">
        <app-searchbar></app-searchbar>
    </div>

</div>

<div class="section">
    <div class="setsidewidth"></div>
    <div class="width"><app-socialnotification></app-socialnotification> </div>
    <div class="width"><app-cardtiles></app-cardtiles></div>
    <div class="width2"><app-cardslider></app-cardslider></div>
    <div class="setsidewidth"></div>
</div>