<div id="backgroundimage">
    <app-user-profile class="user"></app-user-profile>
    <div class="maintext">
        <h1 class="color">{{title}}</h1>
        <h1 class="color nogain" >{{title2}}</h1>

    </div>
   
    <div class="search">
        <app-searchbar></app-searchbar>
    </div>

</div>

<div class="section">
    <div class="setsidewidth"></div>
    <div class="width">hellohello</div>
    <div class="width">hello</div>
    <div class="width2"><app-cardslider></app-cardslider></div>
    <div class="setsidewidth"></div>
</div>