@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');


#backgroundimage {
    margin: 0px;
    /* box-shadow: 0 0 5px black; */
    padding: 0px;
    min-height: 45% !important;
    width: 100%;
    background-image: url("../../assets/homeimages/backgroungimg.jpg");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}



.color {
    color: #fff;
    font-size: 45px;
    padding: 5px;
    font-style: italic;
    font-family: 'Poppins';
    font-weight: 600;
}

.main-text{
    color: #fff;
    margin-left: 7%;
    margin-top: 2%;
    font-size: 40px;
}

.nogain{
    margin: 3%;
}



.search {

    display: flex;
    justify-content: center;
}

.section {
    width: 100%;
    display: flex;
    margin-top: 20px;
    min-height: 250px;
}

.setsidewidth {
    width: 5%
}

.width {
    width: 30%;
}

.width2 {
    width: 30%;
}


@media only screen and (max-width: 800px) {
    .section {
        width: 100%;
        display: block;
        padding: 10px;
    }

    .width {
        width: 100%;
    }

    .width2 {
        width: 100%;
    }
}