@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


#backgroundimage {
    margin: 0px;
    box-shadow: 0 0 5px black;
    padding: 0px;
    min-height: 45% !important;
    width: 100%;
    background-image: url("../../assets/homeimages/backgroungimg.jpg");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.maintext {
    width: 30%;
    margin-left: 60px;
    margin-top: 50px;
}

.color {
    color: #fff;
    font-size: 45px;
    padding: 5px;
    font-style: italic;
    font-family: 'Poppins';
    font-weight: 600;
}

.nogain {
    margin-left: 60px;
}

.search {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10%;

}

.section {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.setsidewidth {
    width: 5%
}

.width {
    width: 26%;
}

.width2 {
    width: 38%
}

@media only screen and (max-width: 800px) {
    .section {
        width: 100%;
        display: block;
        padding: 10px;
    }

    .width {
        width: 100%;
    }

    .width2 {
        width: 100%;
    }
}