<div id="backgroundimage">
    <app-user-profile class="user"></app-user-profile>
    <div class="main-text">
        
        <div>"No Pain"</div>
        <div class="nogain">"No Gain"</div>
        
    </div>
   
    <div class="search">
        <app-searchbar></app-searchbar>
    </div>

</div>

<div class="section">
    <div class="setsidewidth"></div>
    <div class="width"><app-socialnotification></app-socialnotification> </div>
    <div class="width"><app-cardtiles></app-cardtiles></div>
    <div class="width2"><app-cardslider></app-cardslider></div>
    <div class="setsidewidth"></div>
</div>